body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
}

.container {
    width: 450px;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px #aaa;
}

.form-box input {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border-radius: 5px;
    border: 1px solid #aaa;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #005fcc;
}

table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 8px;
}
